{% extends 'base.html' %}

{% block center_body %}

    <div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="/list1_1_1" class="fruit">苹果</a></li>
					<li><a href="/list2_1_1" class="seafood">联想</a></li>
					<li><a href="#" class="meet">戴尔</a></li>
					<li><a href="#" class="egg">惠普</a></li>
					<li><a href="#" class="vegetables">华为</a></li>
					<li><a href="#" class="ice">华硕</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="{% url "df_goods:index" %}">首页</a></li>
				<!--li class="interval">|</li>
				<li><a href="">手机</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li-->
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		全部分类 > {{ title }}
		{% if id|default:' ' != ' ' %}
        > 商品详情
		{% endif %}
	</div>

{% block center_content %}

{% endblock center_content %}



{% endblock center_body %}
