{% extends 'base_foot.html' %}
{#模板继承于base_foot#}

{% block head %}
	<script>

    </script>
{% endblock head %}

{% block body %}
	<div class="register_con">
		<div class="l_con fl">
			<a href="{% url "df_goods:index" %}" class="reg_logo"><img src="/static/images/logo02.png"></a>
			<div class="reg_slogan">忘记密码了┭┮﹏┭┮</div>
			<div class="reg_banner"></div>
		</div>

		<div class="r_con fr">
			<div class="login_title clearfix">
				<h1>找回密码</h1>
				<a href="#">联系客服</a>
			</div>
			<div class="reg_form clearfix">
				<form action="{% url "df_user:register_handle" %}" id='reg_form' method="post">
                    {% csrf_token %}
				<ul>
					<li>
						<label>用户名:</label>
						<input type="text" name="user_name" id="user_name">
						<span class="error_tip">提示信息</span>
					</li>
					<li>
						<label>邮箱:</label>
						<input type="text" name="email" id="email">
						<span class="error_tip">提示信息</span>
					</li>
					<li>
						<label>密保问题：</label>
						<label> </label>
					</li>
					<li>
						<label>你的答案:</label>
						<input type="text" name="q_answer" id="q_answer">
						<span class="error_tip">提示信息</span>
					</li>
					<li class="agreement">
						<label>密码将被重置为6个6</label>
					</li>
					<li class="reg_sub">
						<input value="                          找回密码">
					</li>
				</ul>				
				</form>
			</div>

		</div>

	</div>

{% endblock body %}